.checkorder_head{
	margin:10px 10px 0 10px;
}

.checkorder_search{
	margin-top:5px;
}

.checkorder_body{
	margin:10px 10px 0 10px;
}

.edit_head{
	margin:10px 40px 0 40px;
}

.edit_body{
	margin:10px 40px 0 40px;
}